html { font-size: 62.5%; /*62.5% for pixel-like sizing*/}

body {
    background: #e6e6e6;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #232323;
    padding-top: 3rem;
}

header {
    background: rgba(50,50,50,1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}

header .wrapper { 
    max-width: 96.0rem; 
    margin: auto; 
    position: relative; 
    padding: 1.5rem 2rem; 
}

header h1 { font-size: 2rem; color: rgba(255,255,255,.9); font-weight: 300; }
header nav { position: absolute; top: 0; left: 13rem; text-transform: uppercase; }
header nav a { 
    display: inline-block; 
    line-height: 5rem; 
    font-size: 1.4rem; 
    color: rgba(255,255,255,.9); 
    height: 100%; text-decoration: none; 
    padding: 0 1rem;
}

header nav a.active {
    background: rgba(90,90,90,1);
}

body > .wrapper {
    width: 43.0rem;
    margin: 4rem auto;
}

ul.albums {
    list-style-type: none;
}

ul.albums li {
    position: relative;
}

ul.albums .votes {
    box-sizing: border-box;
    height: 12.4rem;
    width: 4.3rem;
    position: absolute;
    /*left: 4.5rem;*/
    left: 0;
    top: 1.4rem;
    border: solid 1px rgba(0,0,0,.15);
    border-right-color: transparent;
    border-radius: .5rem 0 0 .5rem;
    z-index: 1;
    background: rgba(0,0,0,.025);
    transition: left .25s;
}

ul.albums li:hover .votes {
    left: 0;
}

.votes .upvote, .votes .downvote {
    display: block;
    position: absolute;
    height: 5.5rem;
    width: 4.3rem;
    border: none;
    opacity: .5;
    outline: none;
    cursor: pointer;
}

.votes .upvote[disabled], .votes .downvote[disabled] {
    opacity: .13;
    cursor: default;
}

ul.albums .votes .upvote {
    background: url(../img/up-arrow.svg) top 1.0rem center no-repeat;
    top: 0rem;
}

ul.albums .votes .downvote {
    background: url(../img/down-arrow.svg) bottom 1.0rem center no-repeat;
    bottom: 0rem;
}

ul.albums .votes .count {
    pointer-events: none;
    font-size: 3.0rem;
    font-weight: 700;
    color: #747474;
    display: block;
    text-align: center;
    line-height: 3.0rem;
    width: 4.3rem;
    position: absolute;
    top: 50%;
    margin-top: -1.6rem;
}

.card {
    box-sizing: border-box;
    background: white;
    padding: 1.0rem 1.2rem 0 16.2rem;
    margin: 0 0 1.0rem 4.3rem;
    border-radius: 0.3rem;
    box-shadow: 0 0.1rem 0.1rem rgba(0,0,0,.3);
    background-size: 15.0rem;
    background-repeat-x: no-repeat;
    height: 15.0rem;
    position: relative;
    z-index: 10;
}

.card h3 {
    font-size: 2.0rem;
    font-weight: 300;
    margin-bottom: 0.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
}

.card .artist { 
    display: block; 
    font-size: 1.5rem;
    font-weight: 300; 
    color: #939393; 
    margin-bottom: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
}

.card .year, .card .explicit {
    display: inline-block;
    text-transform: uppercase;
    line-height: 1.7rem;
    font-size: 1.4rem;
    font-weight: 500; 
    color: white; 
    background: rgba(0,0,0,.3);
    border-radius: 0.3rem;
    padding: 0.1rem 0.4rem;
    margin-bottom: 1rem;
    text-shadow: 1px 0px 0px rgba(0,0,0,.3);
    vertical-align: middle;
}

.card .explicit {
    font-size: 1.3rem;
    background: rgba(0,0,0,.6);
    margin-left: .8rem;
}

.card .sharer { 
    display: block; 
    font-size: 1.2rem; 
    font-weight: 300; 
    font-style: italic;
    color: #939393; 
    margin-bottom: 1.0rem;
}

.card .actions {
    position: absolute;
    bottom: 0.1rem;;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    padding-left: 15rem;
    height: 3.4rem;
}

.card .actions a {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    font-size: 1.5rem;
    color: hsl(199, 95%, 46%);
    text-decoration: none;
    line-height: 3.4rem;
    border-top: solid 1px hsla(0, 0%, 0%, 0.075);
}

.card .actions a:first-child {border-right: solid 1px rgba(0,0,0,.075); width: 63%;}
.card .actions a:last-child { width: 36.5%; }

.card .actions a:hover {
    font-weight: 400;
    font-size: 1.45rem;
}

/* Share Dialog */
/* --------------------------------------------------- */
#album_finder {
    box-sizing: border-box;
    position: fixed;
    width: 100%; height: 100%;
    top: 0; left: 0;
    z-index: 1000;
    background: rgba(235,235,235,1);
    padding: 5rem 2rem;
    overflow: scroll;
    min-width: 44.5rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .8s;
}

#album_finder.active {
    opacity: 1;
    pointer-events: inherit;
}

#album_finder .close {
    position: fixed;
    top: 1rem; right: 2rem;
    z-index: 501;
    background: none;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    cursor: pointer;
    color: rgb(100,100,100);
}

#album_finder .close:focus {
    outline: none;
}

#album_finder .search-box {
    position: fixed;
    top: 0; left:0;
    padding-top: 10rem;
    width: 100%;
    text-align: center;
    z-index: 500;
    background: rgba(235,235,235,.85);
}

#album_finder .search-box input {
    font-family: 'Source Sans Pro';
    font-size: 4rem;
    border: none;
    border-bottom: .2rem solid rgba(0,0,0,.3);
    background: none;
    font-weight: 300;
    width: 40rem;
    margin: 0 1rem;
    text-align: center;
    color: rgba(0,0,0,.7);
}

#album_finder .search-box input:focus {
    outline: none;
    border-color: rgba(0,0,0,.5);
}


#album_finder .results {
    margin-top: 15rem;
    list-style-type: none;
}
#album_finder .results .card {
    margin: 1rem auto;
    width: 40rem;
    text-align: top;
}

/* Toast Message */
/* --------------------------------------------------- */

#toast                          { background: rgba(0,0,0,.75); font-size: 1.6rem; color: rgba(255,255,255,.8); width: 30rem; padding: 2rem; text-align: center; border-radius: .25rem; pointer-events: none; position: fixed; left: 2rem; bottom: 2rem; z-index: 1000; opacity: 0; transition: opacity .7s; }
#toast.active                   { opacity: 1; }


.lock-scroll { overflow: hidden; }
