<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Shared Lib{% endblock %}</title>
    <link rel="stylesheet" href="/static/sharedlib/css/reset.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/sharedlib/css/style.css">
    <script type="text/javascript" src="/static/sharedlib/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/sharedlib/js/jquery.tinysort.min.js"></script>
    <script type="text/javascript" src="/static/sharedlib/js/script.js"></script>
</head>
<body>
<header>
    <div class="wrapper">
        <h1>Shared Lib</h1>
        <nav>
            <a {% if page == 'inbox' %}class="active"{% endif %} href="/">Inbox</a>
            <a {% if page == 'library' %}class="active"{% endif %} href="/library/">Library</a>
            <a href="#add">+ Add</a>
        </nav>
    </div>
</header>
<div class="wrapper">
{% block content %}{% endblock %}
    <div class="sidebar">
    {% block sidebar %}
    <ol>
        {% for user in ranked_users %}
        <li>{{user.get_short_name}} {{user.score}}</li>
        {% endfor %}
    </ol>
    {% endblock %}
    </div>
</div>
<div id='album_finder'>
    <button class='close'>x</button>
    <form class="search-box" method="get" action="/api/album_search.json">
        <input type='text' name='album' placeholder='type search + enter'/>
    </form>
    <ul class="results"></ul>
</div>
<div id="toast"></div>
</body>
</html>